@import 'settings';
@import 'foundation-emails';

// ------------------------------------------------------------------------------------------------------------ e-mail-1
.email-1 p {
  text-align: justify;
}
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}
// end e-mail-1


// ------------------------------------------------------------------------------------------------------------ e-mail-2
.email-2 {
  .text-center {
    text-align: center;
}
  .unsubscribe {
    text-align: left;
  }
  table.button table td {
    background: #619b99;
    border: 2px solid #619b99;
    &:hover {
      background: #4d8785;
      border: 2px solid #4d8785;
    }
  }
  .unsubscribe {
    a {
      color: #619b99;
    }
  }
}
// end e-mail-2




@media screen and (min-device-width: 1px) {
  a[href^=tel],
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
}